* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {
    list-style-type: none;
  }
  .clearfix {
    zoom: 1;
  }

  .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }

  .course-content .learning-list {
    padding: 15px;
    /* border: 1px solid black; */
  }

  .course-content .learning-list li {
    float: left;
    width: 40%;
    margin-bottom: 10px;
    margin-right: 55px;
  }
  @media (max-width: 1200px) {
    .course-content .learning-list li {
      width: 100%;
      margin-right: 10px;
    }
  }

  .course-content .learning-list li i {
    color: #01bacf;
    font-size: 14px;
    margin-right: 7px;
  }

  .Cart {
    margin: 10px;
    padding: 10px;
    border: 4px solid white;
    border-radius: 30px;
    box-shadow: 2px 0px 10px black;
    position: relative;
    top: -80px;
    background-color: white;
    min-width: 300px;
  }
  
  @media screen and (max-width: 800px){
    .Cart {
      top: 0;
    }
    
  }
  .Cart button {
    font-size: large;
  }
  .Cart i {
    margin-right: 10px;
    padding-left: 20px;
  }
  footer a:hover,
  header .nav-link:hover,
  header .list-group-item:hover {
    color: #E4A11B !important;
    cursor: pointer !important;
  }

  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/****** Style Star Rating Widget *****/
#rating{
  border:none;
  float:left;
}

#rating>input{
  display:none;
}
/*ẩn input radio - vì chúng ta đã có label là GUI*/

#rating>label:before{
  margin:5px;
  font-size:1.25em;
  font-family:FontAwesome;
  display:inline-block;
  content:"\f005";
}/*1 ngôi sao*/

#rating>.half:before{
  content:"\f089";
  position:absolute;
}/*0.5 ngôi sao*/
#rating>label{
  color:#ddd;
  float:right;
}
/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/

/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating>input:checked~label,
#rating:not(:checked)>label:hover, 
#rating:not(:checked)>label:hover~label{color:#E4A11B;}

/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label{color:#E4A11B;}